<!DOCTYPE html>
<html>
<head>
	<title>Data Structures</title>
	<!--<script type="text/javascript" src="../javascripts/lib/require/require.js"></script>
	<script type="text/javascript" src="../javascripts/appConfig.js"></script>-->
	<script type="text/javascript" src="../javascripts/lib/jquery/jquery.js"></script>
	 <link rel="stylesheet" type="text/css" href="../stylesheets/foundation/foundation.css"> 
	<link rel="stylesheet" type="text/css" href="../stylesheets/customStyles.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/jquery.gridster.css">
	<script type="text/javascript" src="../javascripts/lib/require/require.js"></script>
	<script type="text/javascript" src="../javascripts/appConfig.js"></script>
	<script type="text/javascript">

	
				
	</script>
</head>

<body>
	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
			<div class="row">
				<div class="large-12 medium-12 small-12 columns">
					<div id="root">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>